.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/molgroups.iml
.idea/vcs.xml
.idea/workspace.xml
/build/
/examples/data_fitting/refl1d/tBLM_protein_hermite/fit/
/examples/data_fitting/refl1d/tBLM/fit/
/examples/data_fitting/refl1d/ssBLM/fit/
/examples/data_fitting/refl1d/noBLM/fit/
/examples/information_theory/experimental_optimization/refl1d/iteration*
/examples/information_theory/experimental_optimization/refl1d/T/
/examples/information_theory/experimental_optimization/refl1d/plots/
/examples/information_theory/experimental_optimization/refl1d/results/
/examples/information_theory/experimental_optimization/refl1d/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/refl1d/save/
/examples/information_theory/experimental_optimization/refl1d/simbackup/
/examples/information_theory/simulate_data/garefl/T/
/dist/
/molgroups.egg-info/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/T/
/examples/information_theory/simulate_data/refl1d/T/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/EllipsoidProtein_SingleDataset_CuvetteThickness/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/dask-worker-space/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/results/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/results/
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_ThreeContrasts/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/iteration*
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_ThreeContrasts/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_0/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_1/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_2/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_3/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_4/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_5/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_6/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_7/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_8/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_9/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_10/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_11/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_12/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_13/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_14/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_15/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_16/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_17/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_18/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_19/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_20/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_21/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_22/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_23/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_24/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_25/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_26/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_27/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_28/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_29/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_30/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_31/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_32/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_33/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_34/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_35/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_36/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_37/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_38/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_39/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_40/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_41/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_42/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_43/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_44/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_45/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_46/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_47/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration_48/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/T/
