.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/molgroups.iml
.idea/vcs.xml
.idea/workspace.xml
/build/
/examples/data_fitting/refl1d/tBLM_protein_hermite/fit/
/examples/data_fitting/refl1d/tBLM/fit/
/examples/data_fitting/refl1d/ssBLM/fit/
/examples/data_fitting/refl1d/noBLM/fit/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_0/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_1/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_2/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_3/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_4/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_5/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_6/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_7/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_8/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_9/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_10/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/iteration_11/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/T/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/plots/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/results/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/.ipynb_checkpoints/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/save/
/examples/information_theory/entropy_gridsearch_sequential_execution/refl1d/simbackup/
/examples/information_theory/simulate_data/garefl/T/
/dist/
/molgroups.egg-info/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/T/
/examples/information_theory/simulate_data/refl1d/T/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/.ipynb_checkpoints/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_0/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_1/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_2/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_3/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_4/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_5/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_6/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_7/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_8/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_9/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_10/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_11/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_12/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_13/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_14/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/EllipsoidProtein_Single_Dataset/iteration_15/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_0/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_1/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_2/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_3/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_4/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_5/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_6/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_7/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_8/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_9/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_10/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/iteration_11/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/results/
/examples/information_theory/entropy_gridsearch_sequential_execution/SANS/SphereSilica_Two_Datasets/T/
