.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/molgroups.iml
.idea/vcs.xml
.idea/workspace.xml
/build/
/examples/data_fitting/refl1d/tBLM_protein_hermite/fit/
/examples/data_fitting/refl1d/tBLM/fit/
/examples/data_fitting/refl1d/ssBLM/fit/
/examples/data_fitting/refl1d/noBLM/fit/
/examples/information_theory/experimental_optimization/refl1d/iteration*
/examples/information_theory/experimental_optimization/refl1d/T/
/examples/information_theory/experimental_optimization/refl1d/plots/
/examples/information_theory/experimental_optimization/refl1d/results/
/examples/information_theory/experimental_optimization/refl1d/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/refl1d/save/
/examples/information_theory/experimental_optimization/refl1d/simbackup/
/examples/information_theory/simulate_data/garefl/T/
/dist/
/molgroups.egg-info/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/T/
/examples/information_theory/simulate_data/refl1d/T/
/examples/information_theory/simulate_data/SANS/EllipsoidHayterMSA_Single_Dataset/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/EllipsoidProtein_SingleDataset_CuvetteThickness/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_GridSearch/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/.ipynb_checkpoints/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_ThreeDatasets_SolventSLD_gpCAM/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/dask-worker-space/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_CountingTime_GPCam/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/results/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GPCam/results/
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_ThreeContrasts/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_GridSearch/iteration*
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_ThreeContrasts/T/
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/iteration*
/examples/information_theory/experimental_optimization/SANS/SphereSilica_TwoDatasets_SolventSLD_Gridsearch_LM/T/
/examples/data_fitting/refl1d/tBLM_protein_hermite/.ipynb_checkpoints/
/examples/data_fitting/refl1d/tBLM/.ipynb_checkpoints/
/examples/data_fitting/SANS/LUV_d54DMPC_ThreeContrasts/T/
/examples/data_fitting/SANS/LUV_DPPC_SingleContrast/T/
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_ThreeContrasts_LM/T/
/examples/information_theory/experimental_optimization/SANS/LUV_d54DMPC_TwoContrasts_LM/T/
/examples/ml/SANS_deep_learning/T/
/examples/information_theory/experimental_optimization/SANS/EllipsoidProtein_SingleDataset_CuvetteThickness/T/
/examples/data_fitting/refl1d/noBLM_hermite_xray/fit/
/examples/data_fitting/refl1d/noBLM_hermite_neutron/fit/
