numpy~=1.23.4
scipy~=1.10.1
periodictable~=1.5.2
pandas~=1.5.2
refl1d~=0.8.15
scikit-learn~=1.2.2
bumps~=0.9.0
matplotlib~=3.6.2
ipython~=8.3.0
sasmodels~=1.0.6
sasdata
setuptools~=67.1.0
shapely~=1.8.5
dill
gpcam~=7.4.4
mdanalysis~=2.3.0
pyside6~=6.4.3